/* Outer Container */
.config-explorer-code-outer-container {
  overflow: visible;
  white-space: nowrap;
}

/* File Node */
.config-explorer-node {
  display: flex;
  align-items: center;
}

.config-explorer-file-node {
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: default;
}

.config-explorer-file-node-with-link {
  font-weight: bold;
}

.config-explorer-file-node-with-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
}

/* File Folder Node */
.config-explorer-file-folder-node {
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--config-node-highlight-text-color);
}

.config-explorer-file-folder-node:hover {
  cursor: default;
  text-decoration: none;
  color: var(--config-node-highlight-text-color);
}

/* File Folder Node with Link */
.config-explorer-file-folder-node-with-link {
  font-weight: bold;
  color: var(--ifm-link-color);
}

.config-explorer-file-folder-node-with-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  color: var(--ifm-link-color);
}

/* Popup Window Container */
.config-explorer-popup-window-container {
  position: absolute;
  margin-left: 30px;
  transform: translateZ(0);
  top: 100%;
  left: 0;
  width: fit-content;
  z-index: 10;
  white-space: normal;
}

/* Popup Window */
.config-explorer-popup-window {
  background-color: #1c1e21;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-right: 100px;
  width: fit-content;
  z-index: 20;
  white-space: pre-wrap;
}

.config-explorer-popup-window-open-tag {
  z-index: 5;
  margin-left: 3px
}

.config-explorer-popup-window-open-tag:hover {
  font-weight: bold;
  cursor: pointer;
}

/* Indentation Arrow */
.indentation-arrow {
  font-size: 14px;
  color: #bbbbbb;
  margin: 0 8px 0 2px;
}

/* Node Icon */
.config-explorer-node-icon {
  font-size: 23px;
}

/* Node */
.config-explorer-node {
  align-items: center;
  position: relative;
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  margin: 5px;
}

/* Node without Flex */
.config-explorer-node-noflex {
  align-items: center;
  position: relative;
  margin: 5px 0 5px 0;
}

.config-node-contents-wrapper {
  margin: 0 5px 0 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.config-explorer-icon {
  /* Make it go back to the original color */
  color: var(--config-node-highlight-text-color);
  margin-right: 5px;
}
