.heroBanner {
  padding-top: 4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 85%;
  max-width: 800px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
