.item-command-converter {
  background-color: var(--background-gen-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--gen-text-color);
  width: 100%;

  label {
    display: block;
  }

  &__output {
    margin-top: 10px;
  }

  textarea {
    padding: 10px;
    margin-block: 10px;
    resize: vertical;
    min-height: 150px;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    button {
      margin: 0;
    }

    select {
      padding: 10px;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;

      > span:first-child {
        flex-shrink: 0;
      }
    }
  }
}
