.item-command-converter {
  background-color: var(--background-gen-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--gen-text-color);
  width: 100%;
}

.item-command-converter label {
  display: block;
}

.item-command-converter label:nth-child(3) {
  margin-top: 10px;
}

.item-command-converter textarea {
  padding: 10px;
  margin-block: 10px;
  resize: vertical;
  min-height: 150px;
}

.item-command-converter__action {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.item-command-converter__action button {
  margin: 0;
}

.item-command-converter__action select {
  padding: 10px;
}

.item-command-converter__action label {
  display: flex;
  align-items: center;
  gap: 20px;
}
