.reactMarkDown {
    display: flex;
    flex-direction: column;
}

.reactMarkDown p {
    margin-bottom: 0;
}

.reactMarkDown ul {
    margin: 0;
    list-style: disc outside none;
}

.reactMarkDown li {
    margin: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}