.flex {
  flex-grow: 1;
}

.project {
  display: flex;
  border-radius: 6px;
  border: 1px solid var(--ifm-color-emphasis-300);
  padding: var(--ifm-global-spacing);
  margin: 24px 0;
  align-items: center;
}

.project p {
  padding-right: 0.8em;
  color: var(--ifm-color-emphasis-800);
  margin: 0;
}

.projectGitHub {
  color: var(--ifm-link-color);
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsContainer {
  width: 85%;
  max-width: 650px;
  padding-bottom: 8em;
  padding-top: 0;
}
