:root {
  --background-gen-color: #e8e8e8;
  --background-gen-color-active: #cccccc;
  --gen-text-color: #000;
  --slider-marker-count: 5;
  --slider-marker-offset: 5px;
}

html[data-theme="dark"] {
  --background-gen-color: #222;
  --background-gen-color-active: #444;
  --gen-text-color: #fff;
}

.server-config-container {
  background-color: var(--background-gen-color);
  border-radius: 10px;
  padding: 20px;
  color: var(--gen-text-color);
  width: 100%;
}

.config-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
}

.toggles {
  flex-direction: row;
  gap: 1rem;

}

.filename-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  height: 25px;
  padding: 20px 20px 20px 10px;
}

.slider-markers {
  height: 10px;
  display: flex;
}

.slider-marker {
  color: var(--gen-text-color);
  font-size: 12px;
  display: inline-block;
  width: calc(100% / (var(--slider-marker-count) + 1));
  text-align: center;
}

.slider-marker:first-child {
  width: calc((100% / (var(--slider-marker-count) + 1) / 2) - var(--slider-marker-offset));
}

.slider-marker:last-child {
  width: calc((100% / (var(--slider-marker-count) + 1) / 2));
}

input[type="text"],
select,
textarea {
  width: 100%;
  border: 1px solid var(--background-gen-color-active);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--gen-text-color);
  outline: none;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--ifm-color-primary);
}

input[type="range"]::-webkit-slider-thumb {
  border: 2px solid var(--ifm-color-primary);
  background-color: var(--ifm-color-primary);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 5px var(--ifm-color-primary);
  border: 2px solid var(--ifm-color-primary);
}

.middle-flex-wrapper {
  margin-top: 20px;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.checkbox:checked + .switch::after {
  left: 20px;
}

.checkbox:checked + .switch {
  background-color: var(--ifm-color-primary);
}

.checkbox {
  display: none;
}

.gui-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.output-command {
  resize: none;
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  min-height: 40px;
  max-height: 150px;
}

.platform-selector {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
}

.platform-selector select {
  width: 100px;
  background-color: var(--background-gen-color);
}

.windows-warning {
  color: #ff4646;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.copy-button {
  display: flex;
  justify-content: center;
}
