.btn {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid var(--background-gen-color-active);
  border-radius: 5px;
  padding: 10px;
  color: var(--gen-text-color);
  cursor: pointer;
  font-size: 15px;
  width: fit-content;
  transition:
    background-color 0.2s ease-out,
    color 0.2s ease-out,
    opacity 0.2s ease-out;
  margin: 5px 5px 0 0;

  &:hover {
    background-color: var(--background-gen-color-active);
  }

  &.success {
    background-color: green;
    color: white;
    opacity: 1;
  }

  &.error {
    background-color: red;
    color: white;
    opacity: 1;
  }
}

.custom-dropdown {
  position: relative;

  &__value {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 1px solid var(--background-gen-color-active);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--gen-text-color);
    cursor: pointer;
    line-height: 24px;

    &::after {
      content: "▾";
      line-height: 0;
      font-weight: bolder;
      font-size: 20px;
      color: #7c7c7c;
    }

    &:hover {
      border: 1px solid var(--ifm-color-primary);
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: var(--background-gen-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
}

.autocomplete {
  padding: 8px;
  font-size: 15px;
  line-height: 24px;

  &-portal {
    background-color: var(--background-gen-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
}

.custom-dropdown,
.autocomplete-portal {
  &__item {
    padding: 10px;
    cursor: pointer;
    outline: 1px solid white;

    &--selected,
    &:hover {
      background-color: var(--background-gen-color-active);
    }
  }

  &__item-label {
    color: var(--gen-text-color);
    font-weight: bold;
  }

  &__item-description {
    font-size: 12px;
    color: var(--gen-text-color);
  }
}
