.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1rem;
  display: flex;
}

.cardDescription {
  font-size: 1rem;
}

.linkBlue {
  color: var(--ifm-color-primary);
}

.cardIcon {
  min-width: 24px;
  min-height: 24px;
}
