name: "Publish"

on:
  push:
    branches:
      - "main"

concurrency:
  group: "${{ github.workflow }}-${{ github.event.number || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/build-artifact.yaml
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Restore Artifact"
        uses: "actions/download-artifact@v2"
        with:
          name: html
          path: build/
      - name: "Publish"
        uses: "JamesIves/github-pages-deploy-action@v4.2.5"
        with:
          branch: "gh-pages"
          folder: "build"
          single-commit: true
